div#playerDescription
  h1.text-center #{title}
  if subtitle
    h4.text-center #{subtitle}

div#player

div#small-text
  p.text-center !{description}

if learnMore
  a.learnMore(href="#{learnMore.url}")

script.

  $(function(){
    $("#main-content").removeClass();
    $("#main-content").addClass("flow");


    coverflow('player').setup({
      playlist: !{coverflowItems},
      width: "100%",
      height: "50%"
    });
  })